:root {
  --primary: #e3b23c;
  --accent: #f3a712;
  --background: #fff3cd;
  --text: #333;
  --dark-bg: #1a1a1a;
  --dark-text: #fefefe;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}

header {
  background-color: var(--primary);
  padding: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
}

h1, h3 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-start;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
}

.logo {
  max-width: 150px;
}

#menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
}

.ticket-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--accent);
  padding: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

h2 {
  margin: 20px;
}

.main-content {
  display: grid;
  gap: 10px;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.business-cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  gap: 10px;
}

.biz-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

footer {
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

footer img {
  height: 30px;
  margin: 0 5px;
}

@media(min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
  }

  #menu-toggle {
    display: none;
  }

  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .business-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Dark theme */
body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body.dark header,
body.dark footer {
  background-color: #333;
  color: #fff;
}