@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: center;
        background: #444;
    }

    nav ul li {
        padding: 15px;
    }

    #menu-toggle {
        display: none;
    }

    #courses-container {
        justify-content: space-around;
    }
}
